.loginModal {
  position: fixed;
  z-index: 1000;
  text-align: center;
  background-color: #00000080;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 35%;
  margin: auto;
  background-color: white;
  border-radius: 5%;
}
.loginForm {
  padding-top: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
}
.inputBar {
  margin-bottom: 1em;
  padding: 0.5em;
  width: 80%;
  border-radius: 10px;
  border: none;
  background-color: #e6e6e6;
}
.inputBar:focus {
  outline: none;
}
.loginBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
.lostPassword {
  margin-top: 2em;
  font-size: 0.7rem;
  color: #ff0080;
}
.noAccount {
  font-size: 0.7rem;
  padding-right: 0.5em;
}
.loginOrRegister {
  font-size: 0.8rem;
  color: #ff0080;
}

.loginOrRegister,
.lostPassword:hover {
  cursor: pointer;
}

/*  Register Message  */
.authManage {
  margin-top: 2em;
}
.close {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2em;
}
.closeBtn {
  font-size: 1.2em;
  background-color: transparent;
  border: none;
}
.closeBtn:hover {
  cursor: pointer;
  outline: none;
}
@media (max-width: 812px) {
  .login {
    width: 90%;
  }
}
