.preViewCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  background-color: transparent;
}

.header {
}
.header__title {
  margin: 0;
}

.body {
  border-radius: 10%;
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.noImage {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
