.clickCardModal {
  position: fixed;
  z-index: 100;
  text-align: center;
  background-color: #00000080;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.diary {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 70%;
  margin: auto;
  background-color: white;
  border-radius: 24px;
}

.imgBox {
  width: 50%;
  height: 100%;
}
.img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.emptyImg {
  width: 100%;
  height: 100%;
  border-right: 1px solid black;
}
.titleBox {
  height: 20%;
  margin-top: 6%;
  background-color: transparent;
}
.title {
  margin-top: 1em;
  font-size: 1.6em;
}
.title::before,
.title::after {
  display: block;
  position: relative;
  left: 50%;
  content: "";
  width: 70%;
  height: 2px;
  margin-top: 8px;
  transform: translateX(-50%);
  background-color: #bdbdbd;
}
.contentBox {
  width: 50%;
  height: 100%;
  background-color: transparent;
}
.closeBtnBox {
  margin-left: 90%;
  display: flex;
}
.closeBtn {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  opacity: 0.8;
}
.closeBtn:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
  animation-duration: 300ms;
}
.closeBtn:focus {
  outline: none;
}
.content {
  padding: 5%;
  margin-top: 1.5em;
  background-color: transparent;
  width: 100%;
  height: 65%;
  font-size: 1.1em;
}
.diaryText {
  height: 100%;
  overflow-y: hidden;
}
