.preViewCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  background-color: transparent;
}

.header__title {
  margin: 0;
}

.body {
  height: 100%;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.noImage {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}
.noImage__title {
  position: absolute;
  font-size: x-large;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
