.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-basis: 100%;
}
.CalendarHeader {
  user-select: none;
  display: flex;
  align-items: center;
}

.button {
  display: inline-flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.button:focus {
  outline: none;
}

.CalendarBody {
  width: 100%;
  height: 100%;
}
.weekDays {
  display: flex;
  text-align: center;
  align-items: center;
}
.dayName {
  width: 14%;
  padding: 0.7rem;
  font-size: 0.8rem;
}

.monthBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0.8rem;
}
.weekBox {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.todayBox {
  display: flex;
  flex-direction: column;
  width: 14%;
  height: 3rem;
  background-color: wheat;
  opacity: 0.8;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.showingDayBox {
  display: flex;
  flex-direction: column;
  width: 14%;
  height: 3rem;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.showingEmptyBox {
  display: flex;
  flex-direction: column;
  width: 14%;
  height: 2rem;
  text-align: center;
  align-items: center;
}
.todayBox:hover,
.showingDayBox:hover {
  background-color: #00000020;
}
