.DiaryEditModal {
  position: fixed;
  z-index: 1000;
  text-align: center;
  align-items: center;
  background-color: #00000080;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.DiaryEditForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 30%;
  margin: auto;
  background-color: white;
  border-radius: 16px;
  text-align: center;
  align-items: center;
}
.header {
  padding: 0.6em;
  font-size: 0.8em;
}
.icons {
  padding: 0.5rem;
}
.emotion {
  background-color: transparent;
  height: 100%;
  border: none;
  font-size: 1.5em;
}
.emotion:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.emotion:focus {
  outline: none;
}
.weather {
  border: 0;
  width: 2rem;
  height: 100%;
  font-size: 1.5em;
  -webkit-appearance: none;
  -moz-appearance: none; /* Firefox */
  appearance: none;
}
.weather:hover {
  cursor: pointer;
}
.formBox {
  height: 45%;
}
.title {
  width: 90%;
  border: 0;
  margin-bottom: 5%;
}
.textArea {
  width: 90%;
  height: 100%;
  overflow: auto;
  border: 0;
}

.weather,
.title,
.textArea:focus {
  outline: none;
}

.snow {
  color: skyblue;
}
